* {


	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Pavelt';
   src: url('../fonts/Pavelt.ttf') format('truetype');
}


body{

	
	display: flex;
	justify-content: right;
	align-items: center;
	min-height: 100vh;

}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



.container{

	height: 100vh; 
	width: 100%;
  	background-image: url(../images/TitleDCV3.png);
	background-position: center;
	background-size: cover;
	padding-left: 0;
	padding-right: 0;
	box-sizing: border-box;
	position: relative;
	padding: 0;
}

.wrapper{

	padding: 50px;
	height: 670px;
	width: 500px;
/*	color: transparent;*/
	margin: auto;
	align-items: center;
	padding-left: 100;
	box-shadow: 0px 0px 55px #FF8B00;
	background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    border-radius: 25px;
  
    justify-content: space-between; /* Add this line */
/*  padding: 0 5%;*/


}

.textBox{

    resize: none;
    padding-top: 20px;
    color: white;
    border: none;
/*    background-color: transparent;*/
    
    border-radius: 10px;

    background: linear-gradient(-45deg, #714aa7, #714aa7, #2928E1, #2928E1, #4E39C3, #ECB295, #FD8A33);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

.wrapper .input-box{

	width: 90%;
	height: 50px;
	background: none;
}

.input-box input{

	width: 90%;
	height: 100%;
	outline: none;


}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.input-box_2 input{

    width: 40%;
    height: 50px;
    outline: none;

    margin-left: 10px;
    color: white;

}

h2 {
  font-size: 32px;
  background: -webkit-linear-gradient(#FF8B00, #2928E1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.input-box_time input{

    width: 30%;
    height: 50px;
    outline: none;

    margin-left: 30px;
    color: white;


}


.input-box_mes input{

    width: 50%;
    height: 50px;
    outline: none;

    margin-left: 30px;
    color: white;


}


.input-box_semana input{

    width: 50%;
    height: 50px;
    outline: none;

    margin-left: 30px;
    color: white;
}

.input-box_numeros input{

    width: 20%;
    height: 50px;
    outline: none;

    margin-left: 10px;
    color: white;
}

.input-box_fecha_y_hora input{

    color: white;
}

/*h2{


	background: rgba(39, 39, 39, 0.1);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  border-radius: 25px;


	background-clip: text;

	box-shadow: 0 0 70px #000000;
	color: transparent;
	-webkit-background-clip: text;


	-webkit-text-fill-color:transparent;
	
}*/


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    margin-bottom: 5px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
/*    background-color: transparent;*/
    color: white;
    cursor: pointer;
    border-radius: 5px;

    background: linear-gradient(-45deg, #714aa7, #714aa7, #2928E1, #2928E1, #4E39C3, #ECB295, #FD8A33);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    


      
      
      
}

.register-link {
    padding-top: 25px;
    text-align: center;
}



.btnNew{

	color: white;

}




input{

	border: none;

	-webkit-background-clip: text;
/*	box-shadow: 0 0 70px #000000;*/
/*	color: trasnparent;*/
}

label{

	border: none;
	color: white;

    
    display: inline-block;
    width: 190px;

}




.fecha{

    padding-left: 35px;
}

.fyh{

    padding-left: 0px;
    margin-bottom: 15px;
}


.timelabel{

    font-size: 15px;
    width: 100px;
}

.mes{
    padding-left: -15px;
    margin-bottom: 10px;
}

.semana{

    padding-left: -15px;
    margin-bottom: 10px;

}

.number{

    font-size: 14px;
}




.navbar{

	width: 100%;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between; /* Add this line */
  padding: 0 5%; /* Adjust padding */
}

.navbar a {
  float: left;

}


.navbar a.split {
  float: left;
  background-color: #FF8B00;
  color: white;
  margin-left: 650px; /* Add margin-right for spacing */
/*  padding: 10px 20px; /* Adjust padding */*/
}




















ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(39, 39, 39, 0.1);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  border-radius: 25px;
}

li {
  float: left;
}

li a {
	float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Pavelt';
  src: url('../fonts/Pavelt.ttf') format('truetype');

/*	src: url('fonts/Pavelt.ttf') format('truetype');*/
/*  font-family: Pavelt, Arial-Rounded;*/
}

/* Change the link color to #111 (black) on hover */

/*li a:hover{

	text-transform: uppercase;

}*/

@font-face {
    font-family: 'Pavelt';
    src: url('../fonts/Pavelt.ttf') format('truetype');
}

ul:hover{

	box-shadow: 0 0 30px #FF8B00;
	

}

li a:hover {

	color: #FF8B00;
}



@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

